* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    background-color: #343434;
    height: 4rem;
    width: 100%;
    color: #FFFFFF;
}
.nav-logo {
    width: 10%;
    padding: 1.2rem;
}
.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    list-style: none;
    width: 100%;
}
.navbar .navbar-list a {
    text-decoration: none;
}